
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




/* .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
} */
.container {
  background-image: url(/assets/images/susan-wilkinson-RZiTglNCeNc-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about, .projects, .writing, .contact, .skills, .resources {
  padding-top: 45px;
}


 


nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: whitesmoke;
    
    /* background: linear-gradient(67.7deg, rgb(252, 185, 125) -0.9%, rgb(245, 231, 106) 22.8%, rgb(160, 236, 208) 50.3%, rgb(57, 178, 209) 75.5%, rgb(183, 174, 193) 100.2%); */
    font-size: medium;
    padding: 9px;
}

.nav-menu {
    display: flex;
    list-style: none;
    nav-right: auto;
}

.nav-menu a, .navbar-logo a {
  text-decoration: none;
  padding-left: 12px;
  color: black;
}

h1, p, h3, h2, h6 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 200;
  padding: 10px;


}

/* hero banner text animation */
.animate-character
{
  
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear 5;
  display: inline-block;
      font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}



.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 5.5vw;
  text-transform: uppercase;
}




.hero-banner {
  background:white;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}



.navbar-logo, .nav-menu {
   font-family: 'Barlow', sans-serif;
}


.projects-wrapper {
  /* background-color: aquamarine; */
  background-image: url(assets/images/blue-theme.png);
  background-attachment: fixed;
  padding-top: 45px;
  margin-top: 45px;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* slideshow */

.slideshow-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;

}

/* project-cards + container */
.project-card-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.project-card {
  max-width: 400px;
  min-width: 400px;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  font-family: 'Barlow', sans-serif;

}

.project-card h1 {
    background: none;
    font-size: 15px;
}

.project-card p {
    padding-top: 15px;
    background: none;
    font-size: 15px;
}

.project-card h1 {
    background: none;
    font-size: 15px;
}


/* skills section design */

.skills-wrapper {
  /* background-color: aquamarine; */
  background-image: url(assets/images/bronze-theme.jpg);
  background-attachment: fixed;
  padding-top: 45px;
  margin-top: 45px;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.skills-card {
  max-width: 400px;
  min-width: 400px;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  font-family: 'Barlow', sans-serif;

}

/* About */

.about-me-wrapper {
  background-image: url(assets/images/blue-theme.png);
  background-attachment: fixed;
  padding-top: 45px;
  margin-top: 45px;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}


.about-info-card {
  max-width: 400px;
  min-width: 400px;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  font-family: 'Barlow', sans-serif;
}

/* Writing styling */

.writing-wrapper {
  background-image: url(assets/images/bronze-theme.jpg);
  background-attachment: fixed;
  padding-top: 45px;
  margin-top: 45px;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.writing-info-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}


.writing-card {
  max-width: 400px;
  min-width: 400px;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  font-family: 'Barlow', sans-serif;
}

/* Resources  */

.resources-wrapper {
  background-image: url(assets/images/blue-theme.png);
  background-attachment: fixed;
  padding-top: 45px;
  margin-top: 45px;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.resources-card-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}


.resources-card {
  max-width: 400px;
  min-width: 400px;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  font-family: 'Barlow', sans-serif;
}

/* contact styling */

.contact-wrapper {
  background-image: url(assets/images/blue-theme.png);
  background-attachment: fixed;
  padding-top: 45px;
  margin-top: 45px;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
}

.contact-element {
  max-width: 200px;
  min-width: 100px;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  background-color: whitesmoke;
  font-family: 'Barlow', sans-serif;
}

.contact-image {
    max-width: 300px;
    max-height:300px;
    border-radius: 50%;
}

.contact-icon {
  max-width: 200px;
  min-width: 100px;
  height: 100px;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  background-color: whitesmoke;
  font-family: 'Barlow', sans-serif;
}


@media screen {
  
}




@media screen {

}
