
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(/assets/images/newcolor.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-heading {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  font-size: 50px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.about-me-section-heading {
  background-color: #15224e;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  font-size: 50px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.about, .work, .projects, .writing, .contact, .skills, .resources {
  padding-top: 45px;
}


 


nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    font-family: 'Proxima Nova', sans-serif;
    /* background: linear-gradient(67.7deg, rgb(252, 185, 125) -0.9%, rgb(245, 231, 106) 22.8%, rgb(160, 236, 208) 50.3%, rgb(57, 178, 209) 75.5%, rgb(183, 174, 193) 100.2%); */
    font-size: medium;
    padding: 9px;
}

.nav-menu {
    display: flex;
    list-style: none;
    nav-right: auto;
}

.nav-menu a, .navbar-logo a {
  font-family: 'Monserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding-left: 12px;
  color: #17494D;
}

 .nav-menu a:hover {
    color: #4ed3dc;
  }

.navbar-logo, .nav-menu {
   font-family: 'Barlow', sans-serif;
}

h1, p, h3, h2, h6 {
  font-family: 'Monserrat', sans-serif;
  font-weight: 100;
  padding: 10px;

}

 nav ul li a :hover {
    color: #4ed3dc;
  }

  a :hover {
    color: #4ed3dc;
  }

/* hero banner text animation */
.animate-character
{
  background-image: radial-gradient(circle at 10% 20%, rgb(253, 239, 132) 0%, rgb(247, 198, 169) 54.2%, rgb(21, 186, 196) 100.3%);
  background-clip: border-box;
  background-size: 10% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 15s linear 2;
  display: inline-block; 
  font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 175%;
  }
}


.title-word {
  animation: color-animation 4s linear infinite;
}


.title-word-1 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-2 {
  --color-1: #17494D;
  --color-2: #ACCFCB;
  --color-3: #3D8DAE;
}

.title-word-3 {
  --color-1: #3D8DAE;
  --color-2:#DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
} 

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 5.5vw;
  text-align: center;
}


.hero-banner {
  background:white;
  background-position: fixed;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: inherit;
}

.projects-wrapper {
  /* background-color: aquamarine; */
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(assets/images/newcolor.jpg);
  background-attachment: fixed;
  padding-top: 45px;
  margin-top: 45px;
  background-position: center;
  background-size: cover;
  
}

/* project-cards + container */
.project-card-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.project-card {
  max-width: 600px;
  min-width: 300px;
  display: block;
  /* flex-direction: column;
  justify-content: space-between; */
  padding: 20px;
  margin: 20px;
  background-color: white;
  color: #15224e;
  font-family: 'Monserrat', sans-serif;
  font-weight: 100;
}

.project-card p {
  text-align: block;
}

.project-image {
  max-width: 400px;
  height: 300px;
  border-radius: 5%;
 
}

.education-card-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: transparent;
  width: 75%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.education-card {
  padding: 20px;
  margin: 20px;
  color: white;
  background-color: #15224e;
  font-family: 'Barlow', sans-serif;
  transition: background-color 0.5s ease;
}



.project-card h1 {
    background: none;
    font-size: 15px;
}

.project-card p {
    padding-top: 15px;
    background: none;
    font-size: 20px;
}

.project-card h1 {
    display: flex;
    flex-direction: row;
    background: none;
    font-size: 30px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: rgb(38, 196, 186);
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 5px 5px 5px 5px;
  user-select: none;
  background-color: rgba(0,0,0,0.8);
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 4px 4px 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.5);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}


/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

/* button styling */
button {
  text-decoration: none;
  color: white;
  background-color: #15224e;
  font-size: 20px;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  border: 1px solid #15224e;
  border-radius: 5px;
  padding: 5px;
  margin: 4px;
  cursor: pointer;
}

button:hover {
  color: #15224e;
  background-color: white;
  transition: .3s;
}

.button i {
  padding-right: 8px;
}


/* skills section design */

.skills-wrapper {
  background-image: url(./assets/images/blackandwhite.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 45px;
  padding-top: 75px;
  padding-bottom: 75px;
  min-width: 100%;
  display: flex;
  flex-direction: row;
}

.skills-container {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 90%;
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin: 0 auto;
  align-items: space-between;
}
.skills-card {
  max-width: 400px;
  min-width: 400px;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  font-family: 'Barlow', sans-serif;

}

/* skills icons */

.software-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.software-icons li {
  justify-content: center;
  border: 1px solid rgba(0,0,0,.125);
  background-color: white;
  border-radius: 5%;
  margin: 20px 5px 5px 5px;
  width: 100px;
  height: 100px;
  align-items: center;
  font-size: 13px;
}

.software-icons li i {
  font-size: 28px;
}

span {
  margin-top: 7px;
}

.icon-cell {
  display: flex;
  flex-direction: column;
  font-family: Proxima Nova, sans-serif;
}
/* About */

.about-me-wrapper {
  background: white;
  background-attachment: fixed;
  padding-top: 45px;
  margin-top: 45px;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
}

.about-card-image-container {
  max-width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-info-card {
  max-width: 60%;
  min-width: 60%;
  padding: 20px;
  margin: 20px;
  background-color: white;
  font-family: 'Barlow', sans-serif;
}

.image-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 60%;
  min-width: 60%;
  padding: 20px;
  margin: 20px;
  background-color: white;
  font-family: 'Barlow', sans-serif;
}

.image-card img {
  max-width: 300px;
  min-height: 300px;
  border-radius: 50%;
}

.about-info-card h2 {
  font-family: 'Barlow', sans-serif;
  font-size: 50px;
  text-decoration: bold;
}

.about-info-card img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}
.about-info-card p {
  font-size: 32px;
  font-family: 'Barlow', sans-serif;
  padding-bottom: 45px;

}

/* Writing styling */

.writing-wrapper {
  background-image: url(assets/images/purple.jpg);
  background-attachment: fixed;
  padding-top: 45px;
  margin-top: 45px;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.writing-info-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}


.writing-card {
  max-width: 400px;
  min-width: 400px;
  padding: 20px;
  margin: 20px;
  background-color: whitesmoke;
  font-family: 'Barlow', sans-serif;
}

.writing-card h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 50px;
  text-decoration: bold;
}

.writing-card a {
  font-size: 22px;
  text-decoration: none;
  font-weight: 100;
  color: black;
}

.writing-card p {
  font-size: 28px;
  font-family: 'Barlow', sans-serif;

}
/* Resources  */

.resources-wrapper {
  background-image: url(assets/images/newcolor.jpg);
  background-attachment: fixed;
  padding-top: 45px;
  margin-top: 45px;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.resources-card-container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}


.resources-card {
  max-width: 400px;
  min-width: 400px;
  padding: 20px;
  margin: 20px;
  background-color: white;
  font-family: 'Barlow', sans-serif;
}

.resources-card button {
  text-decoration: none;
  color: white;
  background-color: #15224e;
  font-size: 20px;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  border: 1px solid #15224e ;
  border-radius: 5px;
  padding: 5px;
  margin: 4px;
}

button:hover {
  color:  #15224e;
  background-color: white;
  transition: .3s;
  cursor: pointer;
}


/* contact styling */

.contact-wrapper {
  background: white;
  background-attachment: fixed;
  padding-top: 45px;
  margin-top: 45px;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  padding-top: 25px;
  padding-bottom: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  flex-wrap: wrap;
}



.contact-element {
  max-width: 400px;
  min-width: 100px;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  background-color: white;
  font-family: 'Barlow', sans-serif;
}

.contact-image {
    max-width: 300px;
    max-height:300px;
    border-radius: 50%;
}



.contact-element ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    nav-right: auto;
}

.contact-icon {
  font-size: 35px;
  padding: 7px;
  color: #17494D;
}


.nav-menu a, .navbar-logo a {
  text-decoration: none;
  font-family: 'Monserrat', sans-serif;
  font-weight: 100;
  padding-left: 12px;
  color: #17494D;
}

.toggle-nav {
  display: none;
}


@media only screen and (max-width: 768px) {

  .nav-menu.hidden-menu {
    display:none;
  }

  .toggle-nav {
    display:inline-block;
    transition:color linear 0.15s;
    color: #3C3C3C;
  }

    .navbar-logo {
            overflow: hidden;
            position: relative;
        }

  nav {
    position: fixed;
    width: 100%;
  }

  nav ul {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 10px 18px;
    background:white;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
  }

  nav li {
    margin:5px 0px 5px 0px;
    float:none;
    display:block;
  }

  nav a {
    display:block;
  }

  nav ul li a :hover {
    color: #4ed3dc;
  }

  a :hover {
    color: #4ed3dc;
  }
}




@media only screen and (max-width: 768px) {
.projects-wrapper {
  /* background-color: aquamarine; */
  max-width: 100%;
  display: block;
  flex-direction: column;
  align-items: center;
  background: #0b396e;
  background-attachment: fixed;
  padding-top: 45px;
  margin-top: 45px;
  background-position: center;
  background-size: cover;
  
}

.skills-container {
  flex-direction: column;
  max-width: fit-content;
}

.hero-banner h1 {
  font-size: 60px;
}

h2 {
  margin: 50px 0;
}
}

